<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <section name="logging" type="Leadtools.Logging.Configuration.ConfigSectionHandler, Leadtools.Logging"/>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="Leadtools.JobProcessor.WorkerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <logging>
      <channels>
         <channel name="EventLog" type="Leadtools.Logging.LoggingChannel.EventLogLoggingChannel, Leadtools.Logging" Enabled="false" Source="Leadtools.JobProcessor"/>
      </channels>
   </logging>
   <system.serviceModel>
      <bindings>
         <basicHttpBinding>
            <binding name="BasicHttpBinding_IWorkerService" closeTimeout="00:01:00"
               openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
               allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
               maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
               messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
               useDefaultWebProxy="true">
               <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            </binding>
         </basicHttpBinding>
      </bindings>
      <client>
         <endpoint address="http://localhost/LEADTOOLSJobProcessorServices/WorkerService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkerService"
            contract="InternalWorkerService.IWorkerService" name="BasicHttpBinding_IWorkerService" />
      </client>
   </system.serviceModel>
   <appSettings>
      <add key="UserClassTypeName" value="MultimediaJobProcessorDemo.MyMultimediaJob"/>
      <add key="JobType" value="Multimedia"/>
      <add key="WorkerLayerPath" value="Leadtools.JobProcessor.Workerlayer.exe"/>
      <add key="UserDllPath" value="CSMultimediaJobProcessorDemo.dll"/>
   </appSettings>
</configuration>
