<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <!-- list connection strings here, make sure you set the value of lt.Medical.Pacs.GlobalConfig in local.config to empty "" -->
  <!-- currently only one connection string is supported, add with name="default" and be sure to define a provider providerName="System.Data.SqlClient" -->
  <!-- example for a valid connection string (database hosted on local) -->
  <!-- <add name="default" connectionString="Data Source=(local);Failover Partner=;Initial Catalog=storage;Integrated Security=True;User ID=;Password=;Pooling=True" providerName="System.Data.SqlClient" />-->
  
  
  <!-- following connection string is used for the message bus, leave empty to use in-memory bus-->
  <!-- it can be the same database as the PACS database-->
  <!--<add name="messageBus" connectionString="Data Source=(local);Failover Partner=;Initial Catalog=bus;Integrated Security=True;User ID=;Password=;Pooling=True" providerName="System.Data.SqlClient" />-->
  
</connectionStrings>

