<?xml version="1.0" encoding="utf-8"?>

<!-- local.config -->
<appSettings>
  <add key="lt.License" />
  <add key="lt.License.Key" />
  <add key="SDContentCreator" value="LEAD Technologies, Inc." />
  <add key="SDContentDescription" value="LEAD Technologies, Inc." />
  <add key="SDManufacturer" value="LEAD Technologies, Inc." />
  <add key="InstitutionName" value="LEAD Technologies, Inc." />
  <add key="TemporaryDirectory" />
  <add key="ScreenWidth" />
  <add key="ScreenHeight" />
  <add key="AllPermissions" value="false" />
  <add key="ExportViewerFolder" />
  <add key="Caching.Enabled" value="false" />
  <add key="Caching.Storage" />
  <add key="Caching.Threshold" value="600" />
  <add key="Caching.DiskQuota" value="70" />
  <add key="Caching.OnStore" value="false" />
  <add key="Caching.FastResizeHugeFrames" value="true" />
  <add key="Caching.Lifetime" value="1.00:00:00" />
  <add key="ClientAe" value="L20_CLIENT64" />
  <add key="ClientIP" value="192.168.4.167" />
  <add key="ClientPort" value="1030" />
  <add key="ServerAe" value="L20_PACS_SCP64" />
  <add key="ServerIP" value="192.168.4.167" />
  <add key="ServerPort" value="534" />
  <add key="globalConfigPath" value="C:\LEADTOOLS 20\Bin\Dotnet4\x64\GlobalPacs.config" />
  <add key="storageServerServicePath" value="c:\leadtools 20\bin\dotnet4\x64\L20_PACS_SCP64\" />
  <add key="UrlInterface.Key" value="{A90A4F9C-DE86-4D50-889A-A8D329DB6922}" />
  <add key="UrlInterface.Timeout" value="0.00:01:00" />
  <add key="UrlInterface.StrongProtocol" value="true" />

  <add key="Medical3D.MaxConcurrentUsers" value="10" />
  <add key="Medical3D.HardwareVolumeCountLimit" value="16" />
  <add key="Medical3D.VolumeCountLimit" value="32" />
  <add key="Medical3D.DebuggingFlag" value="0" />
  <add key="Medical3D.IdleTimeout" value="180000" />
  <add key="Medical3D.RecycleTimeout" value="15000" />

</appSettings>
