<configuration>
   <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
      <hostingEnvironment shadowCopyBinAssemblies="false" />
      <authentication mode="None"/>
   </system.web>

   <system.webServer>
      <httpProtocol>
         <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*" />
            <add name="Access-Control-Allow-Headers" value="Content-Type" />
         </customHeaders>
      </httpProtocol>
   </system.webServer>

   <system.serviceModel>
      <services>
         <service name="Leadtools.Ccow.WebAgentsServices.PatientAnnotationAgent" behaviorConfiguration="RESTBehavior"/>
         <service name="Leadtools.Ccow.WebAgentsServices.PatientMappingAgentService" behaviorConfiguration="RESTBehavior"/>
         <service name="Leadtools.Ccow.WebAgentsServices.UserAnnotationAgentService" behaviorConfiguration="RESTBehavior"/>
         <service name="Leadtools.Ccow.WebAgentsServices.UserMappingAgentService" behaviorConfiguration="RESTBehavior"/>
      </services>
     <behaviors>
      <serviceBehaviors>
        <behavior name="RESTBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
   </system.serviceModel>
   <appSettings>
   </appSettings>
</configuration>
