<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerName" value="LEAD JPIP Server" />
    <add key="ImagesFolder" value="" />
    <add key="IPAddress" value="127.0.0.1"/>
    <add key="Port" value="49201"/>
    <add key="MaxClient" value="10"/>
    <add key="EnableLogging" value="true"/>
    <add key="ConnectionIdleTimeout" value="300"/>
    <add key="CacheFolder" value="."/>
    <add key="CacheSize" value="100"/>
    <add key="ChunkSize" value="1024"/>
    <add key="MaxTransportConnections" value="15"/>
    <add key="MaxSessionLifetime" value="900"/>
    <add key="HandshakeTimeout" value="5"/>
    <add key="RequestTimeout" value="20"/>
    <add key="ImageParsingTimeout" value="180"/>
    <add key="DivideSuperBoxes" value="true"/>
    <add key="PartitionBoxSize" value="40"/>
    <add key="MaxConnectionBandwidth" value="-1"/>
    <add key="MaxServerBandwidth" value="-1"/>
    <add key="LoggingFile" value=""/>
    <add key="LogInformation" value="true"/>
    <add key="LogWarnings" value="true"/>
    <add key="LogDebug" value="true"/>
    <add key="LogErrors" value="true"/>

    <!--<add key="AliasFolders" value="images,c:\Program Files\LEAD Technologies\LEADTOOLS 15\Images"/>-->
    <!--<add key="DelegateServers" value="127.0.0.1:49201,4"/>-->
  </appSettings>
</configuration>