<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="leadLogging" type="Leadtools.Logging.Configuration.ConfigSectionHandler, Leadtools.Logging"/>
   </configSections>
   <leadLogging>
      <channels>
         <channel name="EventLog" type="Leadtools.Logging.LoggingChannel.EventLogLoggingChannel, Leadtools.Logging" Enabled="false" Source="Leadtools.JobProcessor"/>
      </channels>
   </leadLogging>
   <connectionStrings>
      <add name="LEADTOOLSJobProcessorDB" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=LEADTOOLSJobProcessorDB;Integrated Security=True;Pooling=True"
         providerName="System.Data.SqlClient" />
   </connectionStrings>
</configuration>
