<div class="jumbotron">
    <h1>LEADTOOLS Cloud Services Demo</h1>
    <p class="lead">LEAD Technologies is the developer and publisher of LEADTOOLS, the award-winning line of development toolkits. </p>
    <p><a href="https://www.leadtools.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Conversion</h2>
        <p>Test out the Conversion Controller Methods</p>
        <p><a class="btn btn-default" href="http://localhost:33645/api/ConvertToRaster?firstPage=1&lastPage=-1&fileUrl=http://demo.leadtools.com/JavaScript/Annotations/Resources/Samples/OCR1.jpg&format=3">Test ConvertToRaster</a></p>
        <p><a class="btn btn-default" href="http://localhost:33645/api/ConvertToDocument?firstPage=1&lastPage=-1&fileUrl=https://demo.leadtools.com/images/pdf/leadtools.pdf&format=1">Test ConvertToDocument</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recognition</h2>
        <p>Test out the Recognition Controller Methods</p>
        <p><a class="btn btn-default" href="http://localhost:33645/api/ExtractAllBarcodes?firstPage=1&lastPage=-1&fileUrl=https://www.leadtools.com/support/publicforumimages/barcode1.png">Test ExtractAllBarcodes</a></p>
        <p><a class="btn btn-default" href="http://localhost:33645/api/ExtractBarcode?firstPage=1&lastPage=-1&fileUrl=https://www.leadtools.com/support/publicforumimages/barcode1.png">Test ExtractBarcode</a></p>
        <p><a class="btn btn-default" href="http://localhost:33645/api/ExtractText?firstPage=1&lastPage=-1&fileUrl=https://demo.leadtools.com/images/pdf/leadtools.pdf">Test ExtractText</a></p>
        <p><a class="btn btn-default" href="http://localhost:33645/api/ExtractCheck?firstPage=1&lastPage=-1&fileUrl=http://demo.leadtools.com/JavaScript/BankCheckReader/Resources/Samples/BankCheck.jpg">Test ExtractCheck</a></p>
    </div>
</div>
