<form name="updateRoleForm" ng-controller="Controllers.UpdateRoleController" novalidate>
    <div class="form-group">
        <label for="username">{{'ROLE' | translate}}:</label>
        <div class="input-group">
           <select class="study-dropdown w-dropdown" ng-model="role" ng-options="r.Name for r in roles" force-blur ng-change="roleChanged(role)"></select>
            <span class="input-group-btn">
              <!--<a class="btn btn-default" type="button" ng-click="deleteRole(role)" ng-disabled="role==null || role.Name=='Administrators'"><i class="fa fa-minus"></i></a>-->
              <button style="margin-left:20px;" class="cine-controls minus-button" ng-click="deleteRole(role)" ng-disabled="role==null || role.Name=='Administrators'"></button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="availablePermissions" >{{'PERMISSIONS' | translate}}:</label>
        <div style="height:150px; overflow:auto">
        <div class="checkbox" id="availablePermissions" ng-repeat="permission in permissions">
            <label>
                <input type='checkbox' value="{{permission.Name}}" check-list='selectedPermissions' ng-disabled="role==null || role.Name=='Administrators'">
            {{permission.FriendlyName}}
            </label>
            </div>
        </div>
    </div>   
    <a class="form-btn" ng-disabled="role==null || role.Name=='Administrators'" ng-click="updateRole(role, selectedPermissions)">Update</a>
</form>
