<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LTDMergeDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LTDMergeDemo.Properties.Settings>
            <setting name="SourceLTDFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Format" serializeAs="String">
                <value />
            </setting>
            <setting name="FormatOptionsXml" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewFinalDocument" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="AdvancedPdfOptionsSelectedTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveDialogLastPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LTDDocumentTypeIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </LTDMergeDemo.Properties.Settings>
    </userSettings>
</configuration>