<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="ShowDownloadSamplesDialog" value="true"></add>
      <add key="ShowNuGetWarningDialog" value="true"></add>
      <add key="SoftwareOnlyRenderingMode" value="false"></add>
      <add key="RenderingType" value="2"></add>
   </appSettings>
</configuration>