<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="My.Medical.Storage.DataAccessLayer.Properties.Settings.CustomerDicomDbConnectionString"
            connectionString="Data Source=medical-test;Initial Catalog=CustomerDicomDb;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="My.Medical.Storage.DataAccessLayer.Properties.Settings.MyDicomDbConnectionString"
            connectionString="Data Source=medical-test;Initial Catalog=MyDicomDb;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>