<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
       <behaviors>
          <endpointBehaviors>
             <behavior name="webSupport">
                <webHttp/>
                <CorsSupport/>
             </behavior>
          </endpointBehaviors>
          <serviceBehaviors>
             <behavior name="">
                <serviceMetadata httpGetEnabled="true"/>
                <serviceDebug includeExceptionDetailInFaults="false"/>
             </behavior>
          </serviceBehaviors>
       </behaviors>
       <extensions>
          <behaviorExtensions>
             <add name="CorsSupport" type="WebHttpCors.CorsSupportBehaviorElement, WebHttpCors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
          </behaviorExtensions>
       </extensions>
        <services>
            <service name="Leadtools.Medical.WebViewer.ExternalControl.Service.ExternalCommandQueueService">
                <endpoint address="" binding="wsHttpBinding" bindingConfiguration="" contract="Leadtools.Medical.WebViewer.ExternalControl.Service.IExternalCommandQueueService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/MedicalWebViewerExternalControllerAPI.Service/ExternalCommandQueueService/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
