<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
    <authentication mode="None"/>
    <httpRuntime maxRequestLength="2097151" />
    <hostingEnvironment shadowCopyBinAssemblies="false"/>
    <pages compilationMode="Never"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>

    <services>
      <service name="Leadtools.Medical.WebViewer.Wcf.StoreService" behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="Leadtools.Medical.WebViewer.ServiceContracts.IStoreService" behaviorConfiguration="WebViewerServiceBehavior" bindingConfiguration="HandleLargeData"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Leadtools.Medical.WebViewer.Wcf.PatientService" behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="Leadtools.Medical.WebViewer.ServiceContracts.IPatientService" behaviorConfiguration="WebViewerServiceBehavior" bindingConfiguration="HandleLargeData"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Leadtools.Medical.WebViewer.Wcf.ObjectQueryService" behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="Leadtools.Medical.WebViewer.ServiceContracts.IObjectQueryService" behaviorConfiguration="WebViewerServiceBehavior">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange">
        </endpoint>
      </service>
      <service name="Leadtools.Medical.WebViewer.Wcf.ObjectRetrieveService" behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="Leadtools.Medical.WebViewer.ServiceContracts.IObjectRetrieveService" behaviorConfiguration="WebViewerServiceBehavior">
        </endpoint>
      </service>
      <service name="Leadtools.Medical.WebViewer.Wcf.PacsQueryService" behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="Leadtools.Medical.WebViewer.ServiceContracts.IPACSQueryService" behaviorConfiguration="WebViewerServiceBehavior">
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Leadtools.Medical.WebViewer.Wcf.PACSRetrieveService" behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="Leadtools.Medical.WebViewer.ServiceContracts.IPACSRetrieveService" behaviorConfiguration="WebViewerServiceBehavior">
        </endpoint>
      </service>
      <service name="Leadtools.Medical.WebViewer.Wcf.AuthenticationService" behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="Leadtools.Medical.WebViewer.ServiceContracts.IAuthenticationService" behaviorConfiguration="WebViewerServiceBehavior">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Leadtools.Medical.WebViewer.Wcf.PatientAccessRightsService" behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="Leadtools.Medical.WebViewer.ServiceContracts.IPatientAccessRightsService" behaviorConfiguration="WebViewerServiceBehavior">
        </endpoint>
      </service>
      <service name="Leadtools.Medical.WebViewer.Wcf.AnnotationsService" behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="Leadtools.Medical.WebViewer.ServiceContracts.IAnnotationsService" behaviorConfiguration="WebViewerServiceBehavior" bindingConfiguration="HandleLargeData">
        </endpoint>
      </service>
      <service name="Leadtools.Medical.WebViewer.Wcf.OptionsService" behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="Leadtools.Medical.WebViewer.ServiceContracts.IOptionsService" behaviorConfiguration="WebViewerServiceBehavior">
        </endpoint>
      </service>
      <service name="Leadtools.Medical.WebViewer.Wcf.AuditLogService" behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="Leadtools.Medical.WebViewer.ServiceContracts.IAuditLogService" behaviorConfiguration="WebViewerServiceBehavior">
        </endpoint>
      </service>
      <service name="Leadtools.Medical.WebViewer.Wcf.ExportService"
                  behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address=""
      binding="webHttpBinding"
      contract="Leadtools.Medical.WebViewer.ServiceContracts.IExportService"
      behaviorConfiguration="WebViewerServiceBehavior"
      bindingConfiguration="HandleLargeData">
        </endpoint>
      </service>
      <service name="Leadtools.Medical.WebViewer.Wcf.ThreeDService"
                  behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address=""
      binding="webHttpBinding"
      contract="Leadtools.Medical.WebViewer.ServiceContracts.IThreeDService"
      behaviorConfiguration="WebViewerServiceBehavior"
      bindingConfiguration="HandleLargeData">
        </endpoint>
      </service>
      <service name="Leadtools.Medical.WebViewer.Wcf.MonitorCalibrationService"
              behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address=""
      binding="webHttpBinding"
      contract="Leadtools.Medical.WebViewer.ServiceContracts.IMonitorCalibrationService"
      behaviorConfiguration="WebViewerServiceBehavior"
      bindingConfiguration="HandleLargeData">
        </endpoint>
      </service>
      <service name="Leadtools.Medical.WebViewer.Wcf.TemplateService"
              behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address=""
      binding="webHttpBinding"
      contract="Leadtools.Medical.WebViewer.ServiceContracts.ITemplateService"
      behaviorConfiguration="WebViewerServiceBehavior"
      bindingConfiguration="HandleLargeData">
        </endpoint>
      </service>
      <service name="Leadtools.Medical.WebViewer.Wcf.WorklistService"
              behaviorConfiguration="WebViewerServiceBehavior">
        <endpoint address=""
      binding="webHttpBinding"
      contract="Leadtools.Medical.WebViewer.ServiceContracts.IWorklistService"
      behaviorConfiguration="WebViewerServiceBehavior"
      bindingConfiguration="HandleLargeData">
        </endpoint>
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="jsonWebHttp" type="Leadtools.Dicom.Services.ErrorHandler.JsonErrorWebHttpBehaviorElement, Leadtools.Medical.WebViewer.WCF" />
        <add name="CorsSupport" type="Leadtools.Wcf.CorsSupportBehaviorElement, Leadtools.Wcf.WebHttpCorsBehavior" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <webHttpBinding>
        <binding name="HandleLargeData"  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="01:00:00" openTimeout="01:00:00" closeTimeout="01:00:00" sendTimeout="01:00:00">

          <readerQuotas maxDepth="2147483647"
             maxStringContentLength="2147483647"
             maxArrayLength="2147483647"
             maxBytesPerRead="2147483647"
             maxNameTableCharCount="2147483647" />
        </binding>

        <binding name="SSLHandleLargeData"  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="01:00:00" openTimeout="01:00:00" closeTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647"
             maxStringContentLength="2147483647"
             maxArrayLength="2147483647"
             maxBytesPerRead="2147483647"
             maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>

        <binding name="SSLBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>


    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WebViewerServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="true" httpsGetUrl="anonymous" httpGetUrl="anonymous" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebViewerServiceBehavior">
          <webHttp />
          <jsonWebHttp />
          <CorsSupport />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="license" />
    <add key="key" />
    <!--provide an alternative value for PACS client connection - AE title, leave blank for default-->
    <add key="ClientAe" value="" />
    <!--provide an alternative value for PACS client connection - local ip address, leave blank for default-->
    <add key="ClientIP" value="" />
    <!--provide an alternative value for PACS client connection - port number, leave blank for default-->
    <add key="ClientPort" value="" />
    <!--provide an alternative value for the storage server connection - AE title, leave blank for default-->
    <add key="ServerAe" value="" />
    <!--provide an alternative value for the storage server connection - local ip address, leave blank for default-->
    <add key="ServerIP" value="" />
    <!--provide an alternative value for the storage server connection - port number, leave blank for default-->
    <add key="ServerPort" value="" />
    
    <add key="globalConfigPath" value="GlobalPacs.config" />
    <add key="storageServerServicePath" value="LEAD_PACS_SCP32" />
    <add key="SDContentCreator" value="LEAD Technologies, Inc."/>
    <add key="SDContentDescription" value="LEAD Technologies, Inc."/>
    <add key="SDManufacturer" value="LEAD Technologies, Inc."/>
    <add key="InstitutionName" value="LEAD Technologies, Inc."/>
    <add key="TemporaryDirectory" value=""/>
    <add key="ScreenWidth" value=""/>
    <add key="ScreenHeight" value=""/>
    <!--<add key="SDCreator" value="Leadtools.SDCreator.dll"/>-->
    <!--<add key="SDCreator" value="Medicor.SDCreator.dll"/>-->
    <!--<add key="SDCreator" value=""/>-->
    <add key="AllPermissions" value="false"/>
    <!-- set to true to list all permissions on the client side -->
    <add key="ExportViewerFolder" value=""/>
    <!-- limit the size of captured images, huge dimension images can take long to download, this option optimizes the generated size -->
    <!--<add key="MaxCaptureSize" value="2000"/>-->

    <!-- enable/disable caching-->
    <add key="Caching.Enabled" value="true"/>
    <!-- location for storage, leave blank to use storage server's default location-->
    <add key="Caching.Storage" value=""/>
    <!-- when to start caching frames threshold, any frame that has dimensions larger than valueXvalue will be cached-->
    <add key="Caching.Threshold" value="600"/>
    <!-- maximum percentage of disk space to use for caching -->
    <add key="Caching.DiskQuota" value="70"/>
    <!-- enable caching when files are stored to the storage server-->
    <add key="Caching.OnStore" value="false"/>
    <!-- enable fast low quality resize for huge frames, saves processing time, recommended to be set to true-->
    <add key="Caching.FastResizeHugeFrames" value="true"/>
    <!-- delete cached files after the specified time has elapsed-->
    <!--format is days.hh:mm:ss-->
    <!--use 00:00:00 to disable cache cleanup-->
    <add key="Caching.Lifetime" value="1.00:00:00"/>
    <add key="Medical3D.MaxConcurrentUsers" value="10" />
    <add key="Medical3D.HardwareVolumeCountLimit" value="16" />
    <add key="Medical3D.VolumeCountLimit" value="32" />
    <add key="Medical3D.DebuggingFlag" value="0" />
    <add key="Medical3D.IdleTimeout" value="180000" />
    <add key="Medical3D.RecycleTimeout" value="15000" />

  </appSettings>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".dcz"/>
      <mimeMap fileExtension=".dcz" mimeType="application/x-zip-compressed" />
    </staticContent>
  </system.webServer>
</configuration>
