<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="OcrMultiThreadingDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup useLegacyV2RuntimeActivationPolicy="true">
	</startup>
 <userSettings>
  <OcrMultiThreadingDemo.Properties.Settings>
   <setting name="OcrEngineType" serializeAs="String">
    <value />
   </setting>
   <setting name="SourceDirectory" serializeAs="String">
    <value />
   </setting>
   <setting name="SourceFilter" serializeAs="String">
    <value />
   </setting>
   <setting name="DestinationDirectory" serializeAs="String">
    <value />
   </setting>
   <setting name="DestinationDocumentFormat" serializeAs="String">
    <value />
   </setting>
   <setting name="UseLtdAfterPages" serializeAs="String">
    <value />
   </setting>
   <setting name="Test" serializeAs="String">
    <value />
   </setting>
  </OcrMultiThreadingDemo.Properties.Settings>
 </userSettings>
</configuration>
