<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CacheDirectoryName" value="C:\Images\jpeg2000"/>
    <add key="IPAddress" value="127.0.0.1"/>
    <add key="PortNumber" value="49201"/>
    <add key="PacketSize" value="16384"/>
    <add key="RequestTimeout" value="60"/>
    <add key="ChannelType" value="http"/>
    <add key="FileEnumerationPortNumber" value="49202"/>
  </appSettings>
</configuration>