@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LEADTOOLS IdP Link</h1>
    <p class="lead">LEADTOOLS IdP Link provides access to external IdPs to authorize usage of LEADTOOLS web applications.</p>    
</div>

